body {
  background-color: beige;
}

#header {
  padding: 1em;
}

.container {
  padding: 1em;
}

a {
  text-decoration: none;
}

.delete {
  color: darkred;
}

.edit {
  color: green;
}

input {
  background-color: Cornsilk;
  border: 1px solid;
}

button {
  border-radius: 5px;
  border: 1px solid;
  background-color: BurlyWood;
  margin: 3px
}